{% extends 'base.html' %}
{% block title %}여긴 Detail{% endblock title %}

{%block content%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
    <title>Detail</title>
</head>
<body>
    <div class="todo">
        
        <h2>할 일</h2>
        <span>{{ todolist.title }}</span>
    </div>
    <div class="cont">
        <h2>할 일의 내용</h2>
        <span>{{ todolist.content }}</span>
    </div>
    <div class="d">
        <h2>마감기한</h2>
        <span>{{ todolist.deadline }} 까지</span>
    </div>
    <br>

    <br>
    <a href="{% url 'home' %}">홈으로</a>
    <a href="{% url 'edit' todolist.pk %}">수정</a>
    <a href="{% url 'delete' todolist.pk %}">삭제</a>

    <br>
    <br>

    <div>
    {% for comment in todolist.comments.all %}
    <li>{{ comment.content }}</li>
    <a href="{% url 'delete_comment' todolist.pk comment.pk %}">댓글삭제</a>
    {% endfor %}

        <form method="POST">
            {% csrf_token %}
            <p>[댓글]</p>
            <input type="text" name="content" placeholder="댓글을 입력해주세요">
            <button type="submit">댓글쓰기</button>
        </form>
    </div>
</body>
</html>

{% endblock %}