<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}">
    <title>NEW</title>
</head>
<body>
    <form method="POST">
        {%csrf_token%}
        <div class="all">
            <br>
            <strong><p style="color: #038cfc;">To Do List : </p></strong>
            <input type="text" name="title" placeholder="해야할 일">
            
            <br>

            <strong><p style="color: #038cfc;">Contents : </p></strong>
            <input type="text" name="content" placeholder="해야할 일의 내용">

            <br>
            <strong><p style="color: #038cfc;">Deadline : </p></strong>
            <input type="date" name="deadline">

            <button type="submit">추가하기</button>
            <br>
            <br>
        </div>
    </form>
</body>
</html>